/*
=================================
  CUSTOM PROPERTIES
=================================
*/
:root {
  /* Colors */
  --blue: hsl(246, 80%, 60%);
  --soft-blue: hsl(195, 74%, 62%);
  --dark-blue: hsl(235, 46%, 20%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --light-red: hsl(15, 100%, 70%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  /* font sizes */
  --fs-500: calc(32em / 16);
  --fs-400: calc(25em / 16);
  --fs-300: calc(20em /  16);
  --fs-200: 1em;

  /* font-weight */
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
}




/*
=================================
  RESETS
=================================
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motions: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  border: 1px solid red;
  block-size: 100vh;
  color: var(--pale-blue);
  color: #fff;
}




/*
=================================
  UTILITIES
=================================
*/
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.flex-spaced {
  justify-content: space-between;
  align-items: center;
}

.d-block { display: block; }

/* Backgrounds */
.bg-blue { background-color: var(--blue); }
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-very-dark-blue { background-color: var(--very-dark-blue); }
.bg-light-red { background-color: var(--light-red); }
.bg-soft-blue { background-color: var(--soft-blue); }
.bg-red-study { background-color: var(--light-red-study); }
.bg-lime-green { background-color: var(--lime-green); }
.bg-violet { background-color: var(--violet); }
.bg-soft-orange { background-color: var(--soft-orange); }

/* Typography */
.text-pale-blue { color: var(--pale-blue); }
.text-white { color: #fff; }

.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }

/*
=================================
  COMPONENTS
=================================
*/